# Ignore Mac system files
.DS_Store

# Ignore log files
*.log
logs
**/*.backup.*
**/*.back.*

# Ignore dependency directories
node_modules/
bower_components/

# Ignore Sublime Text files (optional)
# *.sublime*

# Ignore design-related files
psd
thumb
sketch

# Add your build/distribution directory (if applicable)
# dist/
# build/
